mkdocs
mkdocstrings
black
flake8
rich
streamlit
langchain
langchain-community
langchain-openai
faiss-cpu
openai
tiktoken
pyodbc
pip-tools
jupyter
pandas
matplotlib
requests
biopython
aiweb-common @ git+https://github.com/UABPeriopAI/llm_utils.git@develop
openpyxl
xlsxwriter
pdfplumber
pypandoc
typer