mkdocs
mkdocstrings
black
flake8
rich
streamlit
tiktoken
pyodbc
pip-tools
jupyter
pandas
matplotlib
requests
openpyxl
xlsxwriter
pdfplumber
pypandoc
typer
fastapi
uvicorn
biopython
python-multipart
docx
langchain-text-splitters
aiweb-common @ git+https://github.com/UABPeriopAI/llm_utils.git@develop