streamlit
langchain
langchain-community
langchain-openai
faiss-cpu
openai
tiktoken
pyodbc
pip-tools
jupyter
pandas
matplotlib
requests
biopython
./llm_utils
openpyxl
xlsxwriter
pdfplumber
pypandoc
typer
gradio