mkdocs
mkdocstrings
black
flake8
rich
streamlit
langchain
langchain-community
langchain-openai
faiss-cpu
openai
tiktoken
pyodbc
pip-tools
jupyter
pandas
matplotlib
requests
biopython
git+https://github.com/UABPeriopAI/llm_utils.git@mainopenpyxl
xlsxwriter
pdfplumber
pypandoc
typer